<a
  href="{{ content.cta_learn_more['#url'] }}"
  title="{{ content.title_display['#title'] }}"
  aria-label="{{ "Read more about"|t ~ " " ~ content.title_display['#title']}}"
>
  {% if content.field_media|render %}
    <span class="media">
      {{ content.field_media }}
    </span>
  {% endif %}
  <h3 class="title">
    {{ content.title_display['#title'] }}
  </h3>
  {% if content.field_summary_html|render %}
    <span class="summary">
      {{ content.field_summary_html }}
    </span>
  {% endif %}
  <span class="cta-link">
    {{ content.cta_learn_more['#title'] }}
  </span>
</a>
