{% block content %}
	{% if title_suffix['contextual_links'] is not empty %}
		<div{{attributes}}>
			{{ title_prefix }}{{ title_suffix }}
			{{ content }}
		</div>
	{% else %}
		{{ content }}
	{% endif %}
{% endblock %}
